


.info{
    background-color: rgb(92, 141, 141);
    font-size: 48px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.information{
    /* font-size: large; */
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items: center;
    
}
.inputclass{
    font-size: x-small;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: .5px;
}


.sendbtn{
   
    color: black;
    width: 100px;
    height: 40px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    border-style: outset;
    background-color:rgb(92, 141, 141);

}
.note{
    border-radius: 10px;
    width: 30%;
    height: 90px;
    border-style: solid;
    border-width: .5px;

}


.media {
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-device-width: 480px) {
.info{
    font-size: larger;
}
.inputclass{
    width: 150px;
}

.note{
    width: 150px;
    height: 100px;
}
.sendbtn{
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: small;
}
}
