/* * {box-sizing: border-box;} */
* {
    margin: 0;
    padding:0;
}
.sec-nav{
    /* flex-wrap: wrap; */
    display: flex;
    background-color: blue;
    color:white;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;

}
 .menu-header, .toggle a { 

    font-size: 20px; 
    justify-content: flex-end;

 }


.hire-button{
    
    background-color:white;
    border-radius: 10px;
    border: 1px solid white;
    color: blue;
    margin: 10px;
    padding: 10px;
    flex-direction: right;
    position: absolute;
    right: 6px;
    width: auto;
    order: 1;
    display: block;
    align-self: flex-start;
}
.div-pos{
    justify-content: space-between;
    display: flex;
    color: white;
    align-items: stretch;
}
h3{
    margin-left: 10px;
    margin-top: 15px;
}
a{
    color: white;
    display: block;
    margin: 10px 20px;
    padding: 10px;
    justify-content: center;

    text-decoration: none;
    list-style-type: none;
    position: relative;
}
.container{
    position: relative;
    text-align: center;
    color: white;
   

}

.back-img{ 
        display: block;
        position: absolute;
        overflow: hidden;
        width: 100%;
        margin: auto;
        max-height: 100vh;
    
    }
.writing{
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    background-color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.div-pos{
    justify-content: center;
    align-items: center;
}

 @media screen and (min-width:370px) and ( max-width: 600px) {
    .sec-nav a:not(:first-child) {display: none;}
    .sec-nav a.icon {
      float:right;
      display: block;
    }
  } 
  
   @media screen  and (max-width: 1000px) {
    .sec-nav.responsive {position: relative;}
    .sec-nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
     .sec-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }  .test .div-pos{
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    /* .test {
        display: flex;
        justify-content: center;
    } */
} 
/* @media screen and (min-width :370px )and (max-width: 600px) {
    .sec-nav.responsive {position: relative;}
.sec-nav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
 .sec-nav.responsive a {
  float: none;
  display: block;
  text-align: left;
}  .test .div-pos{
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.test {
    display: flex;
    justify-content: center;
}
} */






