/* * {box-sizing: border-box;} */
* {
    margin: 0;
    padding:0;
}
.sec-nav{
    flex-wrap: wrap;
    display: flex;
    background-color: blue;
    color:white;
    min-width:650px;
   
}
 .menu-header, .toggle a { 

    font-size: 20px;

 }


.hire-button{
    
    background-color:white;
    border-radius: 10px;
    border: 1px solid white;
    color: blue;
    margin: 10px;
    padding: 10px;
    flex-direction: right;
    position: absolute;
    right: 6px;
    align-self: flex-start;
}
.div-pos{
    justify-content: space-between;
    display: flex;
    color: white;
    align-items: stretch;
}
h3{
    margin-left: 10px;
    margin-top: 15px;
}
a{
    color: white;
    display: block;
    margin: 10px 20px;
    padding: 10px;
    justify-content: center;

    text-decoration: none;
    list-style-type: none;
    position: relative;
}
.container{
    position: relative;
    text-align: center;
    color: white;
   

}

.back-img{ 
        display: block;
        position: absolute;
        overflow: hidden;
        width: 100%;
        margin: auto;
        max-height: 100vh;
    
    }
.writing{
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    background-color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.box{
    display: grid;
}
    