
.a-color{
    color:white;
}
.sec-nav{
    /* flex-wrap: wrap; */
    display: flex;
    margin: 0;
    padding:0;
    background-color:rgb(92, 141, 141);
    color:white;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;

}
h3{
    padding-left:10px;
}


.hire-button{
  background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    color:rgb(92, 141, 141);
    /* left: 126%; */

}

.div-pos{
    justify-content: space-between;
    display: flex;
    color: white;
    align-items: stretch;
}

.H11{
    margin-left: 10px;
    margin-top: 15px;
    font-size: xxx-large;
    opacity: 1;
}
a{
    color:coral;
    display: block;
    margin: 10px 20px;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}

.description_div{
    display:flex;
    background-color: #E5E5E5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(204, 204, 204, 0.5);
    border-radius: 10px;
    margin: 0;
    padding:0;
}
.head_sec{
    background-repeat: no-repeat;
    display:flex;
    background-image: url('http://www.all4well.org/wp-content/uploads/2018/07/development-team.jpg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100% ;
    height: 520px;
    background-size: 100% 100%;

}

.head_p{
    font-size: xxx-large;
}

.about_sec{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 0px;
    width: 80%;
    background-color: #E5E5E5;

}

.container{
    position: relative;
    text-align: center;
    color: white;
   

}

.back-img{ 
        display: block;
        position: absolute;
        overflow: hidden;
        width: 100%;
        margin: auto;
        max-height: 100vh;
    
    }
.writing{
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    background-color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.div-pos{
    justify-content: center;
    align-items: center;
}

  
   @media screen  and (max-width: 600px) {
   
       .div-pos{

         font-size:small; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }
    
    }
    .TeamDiv{
        display: flex;
        flex-wrap: wrap;

    }
    ul{
        display: flex;
        flex-wrap: wrap; 
    }
}

.Teambody{
    background-color: #E5E5E5;
    margin-top: 20px;
    margin-left: 40px;
    
    
    }
    
    .TeamDiv{
    display: flex;
    flex-direction: row;
    margin-right: 15%;
    }
    
     h4{
        display: flex;
        justify-content: center;
        margin-right: 3% ;
        margin-left: 7%; 
    } 
    
     .contact{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
           
    } 
    
    ul{
        list-style-type: none;
        font-size: 57px;
        display: flex;
        justify-content: space-around; 
        margin:0px;
        padding: 7px;
         }  
  
    







